unstructured
unstructured_inference
unstructured-pytesseract
langchain
langchain_openai
pillow
pdfminer.six
pillow-heif
pi_heif
pdf2image
onnx==1.16.1
#; sys_platform == 'win32'
onnxruntime==1.20.0
#; sys_platform == 'win32'
onnxruntime-gpu==1.23.0; sys_platform == 'Linux'
hf-xet==1.1.10; sys_platform == 'win32'
requests==2.32.5
langchain-gigachat==0.3.12
torch==2.7.0; sys_platform == 'win32'
torchvision==0.22.0; sys_platform == 'win32'
torch==2.2.2; sys_platform == 'Darwin'
torchvision==0.17.2; sys_platform == 'Darwin'
